<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>商城</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/register.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/vue-resource.min.js"></script>
	
</head>
<body>
	<div class="register_con">
		<div class="l_con fl">
			<a class="reg_logo"><img src="images/logo02.png"></a>
			<div class="reg_slogan">正品低价.品质保障</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>用户注册</h1>
				<a href="login.html">登录</a>
			</div>
			<div class="reg_form clearfix" id="userReg">
				<form>
				<ul>
					<li>
						<label>账号：</label>
								<input type="text"  v-model="username" >
					</li>					
					<li>
						<label>密码：</label>
								<input type="password"  v-model="password" >
					</li>
					<li>
						<label>性别：</label>
								<select v-model="sex" style="margin-top: 8px;width: 71px;height: 30px;">
									<option value="男">男</option>
									<option value="女">女</option>
								</select>
					</li>
					<li>
						<label>姓名：</label>
								<input type="text" name="" v-model="real_name">
					</li>
					<li>
					<label>手机：</label>
								<input type="text" name="" v-model="acc_nbr">
					</li>
					<li>
					<label>邮箱：</label>
								<input type="text" name="" v-model="email">
								<span class="error_tip2" style="display: inline-block;">{{msg}}</span>
					</li>
					<li class="reg_sub">
						<input type="button" value="注 册" name="" @click="register()">
					</li>
				</ul>				
				</form>
			</div>
			<script type="text/javascript" src="js/userReg.js"></script>
		</div>

	</div>

	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2020 北京商城有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>
</html>